* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #222222;
	text-decoration: none;
}

ul {
  list-style: none;
}

#footer {
	right: 0px;
	bottom: 00px;
	position: fixed;
	width: 100%;
	border-top: 1px solid #ffc107;
}

.workspaces {
	border: 1px solid #ffc107;
}

.workspace {
	border-bottom: 1px solid #ffc107;
	padding: 10px;
}


#footer .footer-item {
	border-right: 1px solid #ffc107;
}

.footer-item  .fa-toolbox {
	color: #ffc107;
}

.footer-item  .fa-server {
	color: #ffc107;
}

.footer-item .fa-cubes {
	color: #ffc107;
}

.footer-item .fa-cube {
	color: #ffc107;
}

.footer-item .fa-file-contract {
	color: #ffc107;
}

.footer-item .fa-cog {
	color: #ffc107;
}

.my-custom-scrollbar {
	position: relative;
	height: 150px;
	overflow: auto;
	}

	.table-wrapper-scroll-y {
	display: block;
	}